<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mxst.car.simsclient">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />


    <application
        android:name=".activity.base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".activity.NewsInfoActivity" />
        <activity android:name=".activity.BrandFindActivity" />
        <activity android:name=".activity.UserActivity" />
        <activity android:name=".activity.UserInfoActivity" />
        <activity android:name=".activity.ResourceFindActivity" />
        <activity android:name=".activity.ResourceChooseActivity" />
        <activity android:name=".activity.NewsMoreActivity" />
        <activity android:name=".activity.CollectActivity" />
        <activity android:name=".activity.UserSetUpActivity" />
        <activity android:name=".activity.UserScoreActivity" />
        <activity
            android:name=".activity.ViewImageActivity"
            android:theme="@style/ThemeActivity"/>
        <activity android:name=".activity.CarDetailsActivity" />
        <activity android:name=".activity.CarDetailsMoreActivity" />
        <activity android:name=".activity.BrandChooseActivity" />
        <activity android:name=".activity.RecommendActivity" />
        <activity android:name=".activity.EvaluateActivity" />
        <activity android:name=".activity.OrderRepairActivity" />
        <activity android:name=".activity.InsureListActivity" />
        <activity android:name=".activity.InsureDetailActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.ViewImageURLActivity"
            android:theme="@style/ThemeActivity"/>
        <activity android:name=".activity.ManChooseActivity" />
        <activity android:name=".activity.StoreChooseActivity" />
        <activity android:name=".activity.FindRepairActivity" />
        <activity android:name=".activity.FindRepairDetailActivity" />
        <activity android:name=".activity.FindFixOrderActivity" />
        <activity android:name=".activity.FindHistoryActivity" />
        <activity android:name=".activity.FindHistoryCategoryActivity" />
        <activity android:name=".activity.FindHistoryDetailActivity" />
        <activity android:name=".activity.JGBrandChooseActivity" />
        <activity android:name=".activity.JGStoreChooseActivity" />
        <activity android:name=".activity.JGManChooseActivity" />
        <activity android:name=".activity.AddOrderRepairActivity" />
        <activity android:name=".activity.JGChooseActivity" />
        <activity android:name=".activity.JGDetailActivity" />
        <activity android:name=".activity.InsureItemDetailActivity" />
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:theme="@style/Theme.UMDefault"
            android:excludeFromRecents="true"/>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56a03eea67e58e50ac0011a1" >
        </meta-data>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

</manifest>
